

a {
  text-decoration: none;
  color: var(--color-palette-1);
}

.dialog-container {
  background-color: var(--color-dialog) !important;
  color: var(--color-foreground-1);
}

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.App {
  width: 100%;
  margin: auto;

  .actionbar, .actionbar-1 {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }
  
  .actionbar-2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .actionbar-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }

  .body .body-content {
    width: 100%;
    margin: auto;
    .boxed {
      min-height: 100vh;
      padding-top: calc(var(--height-nav) + 20px);
      padding-bottom: 40px;

      @media (min-width: 768px) {
        width: 60%;
        margin: auto;
      }
      @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .backdrop-fade {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
    overflow: hidden;
  }
}

//   &.icon {
//     font-size: 0.8em;
//     padding: 0em 0em;
//     background: transparent;
//     border: none;
//   }

//   .material-icons {
//     vertical-align: bottom;
//     font-size: 20px;
//     margin-right: 5px;
//   }
// }

.MuiInputLabel-root, .MuiInputBase-root {
  color: white;
}

.color-primary {
  color: var(--color-palette-1);
}

.color-secondary {
  color: var(--color-palette-2);
}