.home {
    .search-bar {
        display: flex;
        flex: 1 1 100%;
        max-width: 100%;

        input {
            z-index: 0;
        }

        margin: 5vh 10vw 0px 10vw;
    }

    .cover {
        overflow: hidden;
        // position: absolute;
        margin-top: calc(0px - var(--height-nav));
        img {
            width: 100%;
            @media (max-width: 767px) {
                width: 200%;
            }
        }
    }
}