.arc-text-field * {
    // width: 100%;
}
.arc-text-field {

    // width: 100%;
    
    input {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--color-body);
        color: var(--color-body-invert);
        font-size: 1em;
        outline: none;
        border: none;
        width: 100%;
    }

    label {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        display: block;
        bottom: -8px;
        left: 10px;
        position: relative;
        font-size: 0.8em;
        color: grey;
    }
}