.notes {

    .filter-bar {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        background-color: var(--color-sidebar-header-active);
    }

    .filter {
        padding: 10px;
        overflow: hidden;
        &.hide {
            // display: none;
            max-height: 0px;
            // transition: all 1s cubic-bezier(.5,1.6,.4,.7);
        }
        &.show {
            max-height: 500px;
            // transition: all 1s cubic-bezier(.5,1.6,.4,.7);
        }
        transition: all 1s cubic-bezier(.5,1.6,.4,.7);
    }

    .edit-note-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .action-icon {
        cursor: pointer;
        display: inline;
        padding-left: 10px;
        color: var(--color-palette-1);
    }

    .form {
        width: 100%;
    }

    .notelink {
        cursor: pointer;
        user-select: none;

        .content {
            padding: 10px;
        }

        .title {
            display: inline;
            font-size: 16px;
        }

        .detail {
            color: var(--color-foreground-2);
            font-size: 14px;
        }

        .detail-artboard {
            // margin-top: -10px;
            display: flex;
            justify-content: flex-end;
        }

        &:hover {
            background-color: var(--color-hover);

            .detail {
                color: var(--color-invert-dim);
            }
        }
        
        &.selected {
            // background-color: var(--color-palette-1);
            background-color: var(--color-selected);

            .title {
                color: var(--color-background-1);
            }

            .detail {
                color: var(--color-background-2);
            }
        }

        transition: all 0.1s ease-in-out;

        &::after {
            background-color: var(--color-background-2);
            border-radius: 3px;
            content: '';
            display: block;
            height: 1px;
        }

        .flag-palette {
            display: inline-block;
            // padding: 1px;
            border-radius: 40px;
            margin-right: 6px;
            width: 12px;
            text-align: center;
            height: 12px;

            &.one {
                background-color: #448C30;
            }
            &.two {
                background-color: #F2E205;
            }
            &.three {
                background-color: #DD403A;
            }
            &.four {
                background-color: #970FF2;
            }
            &.five {
                background-color: #0597F2;
            }
            &.six {
                background-color: #F2309B;
            }
        }
    }

    .noteitem {
    }

    .notebook {
        background-color: var(--color-background-2);
        display: inline;
        margin-right: 5px;
        padding: 0px 4px 2px 4px;
        border-radius: 50px;
        text-align: center;
        vertical-align: center;
        font-size: 14px;

        .material-icons {
          vertical-align: middle;
          margin-right: 5px;
          font-size: 14px;
        }
    }
}

.artboard {
    .canvas-edit {
        position: absolute;
        left: 0px;
        top: var(--height-nav);
        background-color: var(--color-background-1);
        padding-left: 10px;
    }
}