.settings {

    input[type="file"] {
        display: none;
    }

    .file-upload {
        padding-top: 100px;
        border-radius: 100px;
        text-transform: uppercase;
        cursor: pointer;
        border: 2px solid var(--color-btn-secondary-bg);
        padding: 8px 16px;
        // font-size: 13.3333px;
        font-size: 0.8em;
        &:hover {
          color: var(--color-btn-secondary-fg-hover) !important;
          background-color: var(--color-btn-secondary-bg) !important;
          transition: 0.2s cubic-bezier(.5,1.6,.4,.7);
        }
    }
    
    .appearance {
        // width: 100%;
        display: grid;
        grid-template-columns: 120px auto;
        align-items: center;
        justify-items: left;
    }

    .text-size {
        display: inline;
        cursor: pointer;

        &.active {
            color: var(--color-secondary);
        }

        &.size-1 {
            font-size: calc(var(--metric-unit-tiny) * var(--metric-typography-base-3));
        }

        &.size-2 {
            font-size: calc(var(--metric-unit-small) * var(--metric-typography-base-3));
        }

        &.size-3 {
            font-size: calc(var(--metric-unit-medium) * var(--metric-typography-base-3));
        }

        &.size-4 {
            font-size: calc(var(--metric-unit-large) * var(--metric-typography-base-3));
        }
    }

    .theme-color {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 15px;
        color: #fff;
        line-height: 50px;
        text-align: center;
        background: #000;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;

        &.color-1 {
            background-image: var(--color-themecolor-1);
        }

        &.color-2 {
            background-color: var(--color-themecolor-2);
        }

        &.color-3 {
            background-color: var(--color-themecolor-3);
        }

        &.color-4 {
            background-color: var(--color-themecolor-4);
        }
    }
}